header{
    margin-bottom: 50px;
}

table{
    margin: 50px 0;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding: 5px;
}

th{
    background: #555555;
    color: white;
}

tr:nth-child(even){
    background: #dfdfdf;
}

tr:nth-child(odd){
    background: #f9f9f9;
}

ul{
    list-style: none;
}

.edit{
    margin: auto;
}