{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Votez !  !{% endblock %}
{% block body %}

    <div class="container-fluid">
        //H1_and_text
        <div class="container-fluid">

        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Votez pour les plus belles chaussettes de la soirée !</h1>
                    <h2>cliquez sur le bouton ci-dessous pour enregistrer votre vote en renseignant vos nom et prénom. <br/> Seulement 3 votes par personne.</h2>
                </div>
            </div>
        </div>

        //Button_vote
        <div class="container">
            <div class="row button_vote">
                <div class="col-md-12">
                    <center><a class="btn btn-vote btn-warning" href="#" role="button">Votez ici ! </a></center>
                </div>
            </div>
        </div>

        //cards
        <div class="container-fluid">
            <div class="row" id="list-cards">
                <div class="col-sm-4">
                    <img src="http://cdn-gulli.ladmedia.fr/var/jeunesse/storage/images/tiji/tout-tiji/ti-heros/petite-princesse/personnages/personnages/petite-princesse/7771938-1-fre-FR/Petite-Princesse.jpg" class="img-responsive img-rounded">
                    <div class="row elements-photos">
                        <div class="col-xs-6">
                            <p class="text-center">Nombre de votes</p>
                        </div>
                        <div class="col-xs-6">
                            <input class="btn btn-default center-block" type="submit" value="Je vote">
                        </div>

                    </div>

                </div>



                <div class="card col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-offset-1 col-sm-4 col-offset-2 col-md-2">


                </div>
            </div>
        </div>

    </div>















{% endblock %}